body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a{
    text-decoration: none;
    
}

.listcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
}

.listcontainer h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputcont{
    position: relative;
    margin-bottom: 30px;

}

.inputcont input{
    width: 200px;
    height: 25px;
    border: 3px solid #80808054;
    outline: none;
    border-radius: 20px;
    padding-left: 27px;

}

.inputcont img{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 17px;
}

.featurecont{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.feature{
    width: fit-content;
    border: 2px solid rgb(153, 144, 144);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 14px;
}

.feature p{
    font-size: 12px;
}

.list{
    display:flex;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;


}

.listcard{
    display: flex;
    align-items:center;
    justify-content: space-around;
    column-gap: 20px;
    background: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 22px;
    
}

.item{
    width: 250px;
}

.listcarddetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.buttoncont{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.buttoncont{
    column-gap: 15px;
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(128, 128, 128, 0.646);
    border-radius: 5px;
    padding: 4px 8px;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.646);
    border-radius: 5px;
    padding: 4px 15px;
    background-color: rgb(35, 220, 35);
}

.like img{
    width: 15px;
}

.cart img{
    width: 17px;
}


.addressdetails{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 10px;

}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.addressdetails button{
    border: none;
    background-color:rgb(149 134 168);
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
    color: rgb(53, 36, 36);
    font-weight: 600;

    
}

.addanother{
    position: relative;
    height: 38px;
    width: 232px;
    outline: none;
    border: none;
    background: #23dc23;
    color: white;
    border-radius: 8px;
    font-weight: 600;

}

.addanother img{
    position: absolute;
    top: 7px;
    left: 12px;
    width: 25px;
}

.placeorder{
  
    height: 38px;
    width: 232px;
    outline: none;
    border: none;
    background: #23dc23;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 75px;
    margin-top: 30px;
    letter-spacing: 2px;
  
   


}


@media (max-width:600px) {
    .listcontainer{
        width: 90%;
    }

    .feature p{
        font-size: 10px;
    }

    .feature{
        padding: 3px 8px;
    }

    .featurecont{
        gap: 10px;
    }

    .item{
        width: 150px;
    }

    .like img{
        width: 13px;
    }
    
    .cart img{
        width: 15px;
    }

    .like{
        padding: 6px 10px;
    }

    .cart{
        padding: 4px 10px;
    }

    .listcard{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .listcarddetails{
        row-gap: 7px;
    }

    .listcarddetails p:first-child{
        font-size: 12px;
    }

    .listcarddetails p:nth-child(2){
        font-size: 12px;
    }

    .listcarddetails p span{
        font-size: 20px;
    }

    .list{
        width: 100%;
    }

    .details p{
        font-size: 13px;
        color: gray;
    }
    
}


.mobileoptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 10px;
    background-color: white;
}

.mobileoptions img{
    width: 23px;
}


@media (min-width:900px) {
    .mobileoptions{
        display: none;
    }
}